table{
    width: 100%
}
table, th, td {
    border: 1px solid palevioletred;
    border-collapse: collapse;
}
h1 {
    color: rgb(223, 162, 223);
    border-style: dotted;
}
h2 {
    color: darkcyan;
    border-style: dotted;
}
p1{
    color:plum;
    margin: 20px;
    padding: 40px;
    
}
p2{
    color:plum;
    margin: 20px;
    padding: 40px;
}
p3{
    color:plum;
    margin: 20px;
    padding: 40px;
}
p4{
    color:plum;
    margin: 20px;
    padding: 40px;
}
p5{
    color:plum;
    margin: 20px;
    padding: 40px;
}
.flex-container > div{
    background-color:aliceblue;
    margin: 20px;
    padding: 40px;
    font-size: 10px;
    
}
tr{
    color:rgb(236, 181, 199);
    margin: 20px;
    padding: 40px;
}